{% extends 'game/base.html.twig' %}

{% block background %}
    <img class="background-image" src="{{ asset('bkg.jpg', 'images') }}" alt="Заросшая улица">
{% endblock %}

{% block body %}
    <a href="#" class="menu-button menu-button--quest">Меню и персонаж</a>

    <div class="decisions">
        <div class="decisions__story">
            {% for stage in walkthrough.currentQuest.stageHistory %}
                <p>{{ stage.text }}</p>
            {% endfor %}
            <div id="last-stage"></div>
        </div>
        <div class="decisions__variants">
            {% if walkthrough.currentQuest.possibleActions is empty %}
                <form action="/game/finish-quest" method="POST">
                    <button class="decision-variant">Завершить</button>
                </form>
            {% else %}
                <form action="/game/progress-quest" method="POST">
                    {% for action in walkthrough.currentQuest.possibleActions %}
                        <button name="action_id" value="{{ action.id }}" class="decision-variant">{{ action.text }}</button>
                    {% endfor %}
                </form>
            {% endif %}

            <a class="decisions__character" href="#">
                <img class="decisions-character__avatar" src="{{ asset('unknown-avatar.png', 'images') }}" alt="Аватар">
                <span class="decisions-character__name">Неизвестный солдат</span>
            </a>
        </div>

        <div class="decisions__location">Окрестности Колашовича, день 3, утро</div>
    </div>
{% endblock %}
